html {
  font-size: 18px;
}

.card {
  padding: 18px;
  border-radius: 18px;
}

.black {
  color: white;
  background: black;
}

.white {
  color: black;
  background: white;
  border: 2px solid black;
  cursor: pointer;
}

.selected {
  background: #d2f4c6;
}

.blank {
  border-bottom: 2px solid white;
  display: inline-block;
  min-width: 42px;
}
