html {
  font-size: 18px;
}

.card {
  padding: 18px;
  border-radius: 18px;
}

.black {
  color: white;
  background: black;
}

.votable {
  cursor: pointer;
}

.mine {
  background: #444444;
  color: #dddddd;
}

.voted {
  background: #003300;
}

.winner {
  background: #701e58;
}

.white {
  color: black;
  background: white;
  border: 2px solid black;
  cursor: pointer;
}

.selected {
  background: #d2f4c6;
}

.blank {
  border-bottom: 2px solid white;
  display: inline-block;
  min-width: 42px;
}
