html {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  color: #444;
}

h1 {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 24px;
}

h1:first-line {
  background: white;
}

h1::after {
  content: "";
  border-bottom: 1px solid #444;
  display: block;
  margin-top: -15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .players {
    position: absolute;
    top: 0px;
    left: 18px;
    width: 250px;
  }

  .main {
    margin-left: 286px;
    margin-right: 18px;
  }
}

.players table {
  color: black;
}

.table {
  margin-bottom: 60px;
}

table {
  text-align: left;
}

.change-name {
  margin-top: 18px;
}

button, input {
  margin: 12px auto 12px auto;
}

.card {
  border-radius: 18px;
  display: inline-block;
  margin: 18px;
  padding: 18px;
  width: 300px;
  border: 2px solid black;
  vertical-align: text-top;
  max-width: calc(100% - 76px);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.black {
  color: white;
  background: black;
  width: inherit;
}

.votable {
  cursor: pointer;
}

.mine {
  background: #444444;
  color: #dddddd;
}

.voted {
  background: #003300;
}

.winner {
  background: #701e58;
}

.white {
  color: black;
  background: white;
  cursor: pointer;
}

.selected {
  background: #d2f4c6;
}

.blank {
  min-width: 42px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.filled {
  text-decoration: underline;
}

.authors {
  margin-top: 6px;
}

.rooms {
  max-width: 800px;
  margin: auto;
}

.rooms ul {
  text-align: left;
}

.error {
  color: #d00;
  font-weight: bold;
}

footer {
  font-size: 12px;
  margin: 60px auto 60px auto;
}
